<div class="relative flex items-center" {{ attributes.defaults(stimulus_controller('form--slug', {
    targetId: targetId
})) }}>
    <div class="relative w-full">
        <input 
            type="text"
            name="{{ name }}"
            value="{{ value }}"
            data-model="value"
            {{ isLocked ? 'readonly' : '' }}
            class="block w-full rounded-md px-3 py-1.5 pr-10 text-base sm:text-sm/6 outline-1 -outline-offset-1 focus:outline-2 focus:-outline-offset-2 {{ isLocked ? 'bg-gray-50 text-gray-500 outline-gray-200 dark:bg-white/5 dark:text-gray-400 dark:outline-white/5' : 'bg-white text-gray-900 outline-gray-300 placeholder:text-gray-400 focus:outline-indigo-600 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:focus:outline-indigo-500' }}"
        />
        
        <div class="absolute inset-y-0 right-0 flex items-center pr-3">
             <button 
                type="button" 
                data-action="live#action"
                data-live-action-param="toggleLock"
                class="text-gray-400 hover:text-gray-600 dark:hover:text-gray-200 cursor-pointer focus:outline-none"
                title="{{ (isLocked ? 'form.component.slug.unlock_title' : 'form.component.slug.lock_title')|trans({}, 'SymkitForm') }}">
                
                {% if isLocked %}
                    {{ ux_icon('heroicons:lock-closed-20-solid', { class: 'size-4' }) }}
                {% else %}
                    {{ ux_icon('heroicons:lock-open-20-solid', { class: 'size-4' }) }}
                {% endif %}
            </button>
        </div>
    </div>

    <input type="hidden" data-model="debounce(50)|sourceValue" data-form--slug-target="source" />
</div>
